In [1]:
# import libraries
import pandas as pd
import datetime
from matplotlib import pyplot as plt
import numpy as np
import glob
import spacepy.datamodel as dm
import pandas as pd

import os
import pandas as pd
import datetime
from matplotlib import pyplot as plt
import numpy as np
import glob
import datetime
from scipy.signal import argrelextrema
from scipy.signal import find_peaks
import math
from tqdm import tqdm
from scipy import interpolate
import matplotlib.dates as mdates
from spacepy import pycdf
from scipy.optimize import curve_fit

from pathlib import Path

from astropy.time import Time
import cdflib

In [199]:
datetime.datetime(2018,5,29)

datetime.datetime(2018, 5, 29, 0, 0)

In [ ]:
# ARG
radar_list = glob.glob('../data/external/Madrigal/2018-2021/*/*.hdf5')
radar_list.sort()

fileswithne = []
for radar in radar_list:
    
    # metadata
    metaA1 = pd.DataFrame(dm.fromHDF5(radar)['Metadata']['Experiment Parameters'])
    metaA2 = np.array([x.decode() for x in metaA1['name']])
    metaA3 = np.array([x.decode() for x in metaA1['value']])

    metaA4 = pd.DataFrame({'name': metaA2,
              'value': metaA3})
    metaA4.to_csv('../data/processed/Madrigal/{filename}_metadata.csv'.format(filename =Path(radar_list[0]).name))

    # variables
    varA1 = pd.DataFrame(dm.fromHDF5(radar)['Metadata']['Data Parameters'])
    varA2 = np.array([x.decode() for x in varA1['mnemonic']])
    varA3 = np.array([x.decode() for x in varA1['description']])
    varA4 = np.array([x.decode() for x in varA1['units']])

    varA5 = pd.DataFrame({'mnemonic': varA2,
                  'description': varA3,
                      'units': varA4})
    varA5.to_csv('../data/processed/Madrigal/{filename}_variables.csv'.format(filename =Path(radar_list[0]).name))

    # append a table with files that have Ne     
    if len(varA5[(varA5['mnemonic'] == "NE")|(varA5['mnemonic'] == "NEL")] ) > 0:
        fileswithne.append(radar)

In [172]:
radar_list = glob.glob('../data/external/Madrigal/2018-2021/*/*.hdf5')
radar_list.sort()

len(radar_list)

7623

In [ ]:
len(fileswithne)

In [ ]:
fileswithne

In [ ]:
# check dates
gf_list = glob.glob('../data/interim/GRACEFO/KBRNE_relative_v1/dat/*')
gf_list.sort()

headerlist=['CDF Epoch', 'GPS', 'Latitude', 'Longitude', 'Radius', 'Latitude_QD', 'Longitude_QD','MLT GRACE_1_Position', 'GRACE_2_Position', 'Iono_Corr', 'Distance', 'Relative_Hor_TEC', 'Relative_Ne']

for gf_file in gf_list:
    gf = pd.read_csv(gf_file, sep='\s+', header=0,index_col=False, names=headerlist)
    print(gf)

In [ ]:
Time(gf['CDF Epoch'].values[0], format='cdf_epoch').datetime

In [174]:
# open aux files
iri_calib = pd.read_csv('../data/interim/GRACEFO/KBRNE_relative_v1/aux_files/GRACE-FO-IRI_CALIB.AUX',  skiprows=[0], sep='\s+',names = ['cdf-epoch', 'Mean-offset-IRI'])
outliers = pd.read_csv('../data/interim/GRACEFO/KBRNE_relative_v1/aux_files/GRACE-FO-OUTLIERS.AUX', skiprows=[0,1,2], sep='\s+')
gap_bias = pd.read_csv('../data/interim/GRACEFO/KBRNE_relative_v1/aux_files/GRACE-GAP-BIAS.ARC', sep='\s+')

## lear how to use the aux files ...

In [175]:
iri_calib

          cdf-epoch  Mean-offset-IRI
0    63694811097000    -7.840156e+10
1    63695601492000    -3.282334e+10
2    63696271092000    -1.734304e+10
3    63696275197000    -7.080232e+10
4    63696917847000     3.499636e+11
..              ...              ...
278  63776024302000    -1.603204e+11
279  63776109362000    -1.510191e+11
280  63776183027000    -1.276199e+11
281  63776194282000    -1.959966e+11
282  63776388182000    -1.000000e+16

[283 rows x 2 columns]

In [176]:
outliers

    cdf-epoch-start   cdf-epoch-end Type
0    63696914547000  63696914742000    e
1    63696914742000  63696917722000    c
2    63696917722000  63696917847000    c
3    63696917847000  63696917947000    s
4    63737595992000  63737596092000    s
5    63746261332000  63746270257000    c
6    63765264742000  63765265492000    e
7    63765287602000  63765288537000    e
8    63768467602000  63768468422000    e
9    63769828942000  63769829482000    e
10   63770254442000  63770255372000    e
11   63772818212000  63772818312000    s
12   63773147242000  63773148052000    e
13   63773442522000  63773443527000    e
14   63773964362000  63773964912000    e
15   63773992717000  63773992897000    e
16   63774010797000  63774010972000    e
17   63774134202000  63774134302000    s
18   63774139957000  63774140057000    s
19   63774457512000  63774458402000    e
20   63774735622000  63774735722000    s
21   63775768132000  63775768232000    s
22   63776023382000  63776024302000    e
23   63776388182000  63776393622000    c
24   63776388182000  63776393622000    c
25   63776388182000  63776393622000    c

In [177]:
gap_bias

      YYYY  DDD  GPSS-GRACE     delta_ARC0       CDF_Epoch  new_ARC
0     2018  149   580863915  392872.083520  63694811097000        0
1     2018  149   580863915  392872.083520  63694811097000        1
2     2018  150   580910400  392872.083467  63694857582000        0
3     2018  151   580996800  392872.083413  63694943982000        0
4     2018  152   581083200  392872.083371  63695030382000        0
...    ...  ...         ...            ...             ...      ...
1111  2020  363   662441000  340584.078476  63776388182000        1
1112  2020  363   662446440  346468.357566  63776393622000        1
1113  2020  364   662472000  346468.357561  63776419182000        0
1114  2020  365   662558400  346468.357548  63776505582000        0
1115  2020  366   662644800  346468.357516  63776591982000        0

[1116 rows x 6 columns]

In [ ]:
# new arc flag 1

plt.plot(gap_bias['CDF_Epoch'][gap_bias['new_ARC']==1], gap_bias['new_ARC'][gap_bias['new_ARC']==1])

In [ ]:
len(np.unique(gap_bias['CDF_Epoch'][gap_bias['new_ARC']==1]))

In [ ]:
gap_bias[gap_bias['CDF_Epoch'] == 63694811097000]

In [ ]:
# plot radars

In [ ]:
# find conjunctions

In [3]:
# check dates
gf_list = glob.glob('../data/interim/GRACEFO/KBRNE_relative_v1/dat/*')
gf_list.sort()

headerlist=['CDF Epoch', 'GPS', 'Latitude', 'Longitude', 'Radius', 'Latitude_QD', 'Longitude_QD','MLT GRACE_1_Position', 'GRACE_2_Position', 'Iono_Corr', 'Distance', 'Relative_Hor_TEC', 'Relative_Ne']

grf_list_datetimes =[]
for gf_file in gf_list:
    gf = pd.read_csv(gf_file, sep='\s+', header=0,index_col=False, names=headerlist)
    grf_list_datetimes.append((Time(gf['CDF Epoch'].values[0], format='cdf_epoch').datetime).strftime('%Y-%m-%d'))

In [370]:
gf

,CDF Epoch,GPS,Latitude,Longitude,Radius,Latitude_QD,Longitude_QD,MLT GRACE_1_Position,GRACE_2_Position,Iono_Corr,Distance,Relative_Hor_TEC,Relative_Ne
0,63747647982000,1264464000,-72.807,-149.928,6892715.06,-68.212,-34.941,16.39,-1685131.2,-981916.9,-6611750.3,-1841145.7,-1059882.0
1,63747647987000,1264464005,-73.122,-149.885,6892721.64,-68.430,-34.306,16.44,-1652906.0,-965044.0,-6622366.6,-1809203.6,-1043097.8
2,63747647992000,1264464010,-73.437,-149.839,6892727.74,-68.646,-33.659,16.48,-1620618.7,-948165.5,-6632781.8,-1777194.7,-1026305.4
3,63747647997000,1264464015,-73.752,-149.791,6892733.37,-68.858,-33.000,16.53,-1588270.3,-931281.9,-6642995.8,-1745120.0,-1009505.5
4,63747648002000,1264464020,-74.066,-149.740,6892738.52,-69.068,-32.329,16.57,-1555861.7,-914393.9,-6653008.2,-1712980.4,-992698.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17275,63747734357000,1264550375,-26.683,25.314,6879564.96,-35.864,94.342,1.01,5592871.3,2647207.6,-3007683.0,5520476.8,2609330.0
17276,63747734362000,1264550380,-26.367,25.300,6879465.74,-35.600,94.449,1.01,5608385.4,2652865.4,-2973384.2,5536795.0,2615401.6
17277,63747734367000,1264550385,-26.050,25.286,6879366.22,-35.335,94.554,1.02,5623732.7,2658431.1,-2938994.1,5552949.0,2621381.6
17278,63747734372000,1264550390,-25.733,25.272,6879266.41,-35.069,94.658,1.03,5638912.6,2663904.6,-2904513.8,5568938.0,2627270.1
17279,63747734377000,1264550395,-25.416,25.258,6879166.32,-34.802,94.760,1.04,5653924.7,2669285.9,-2869944.4,5584761.7,2633066.9

In [277]:
t1 = t.to_pandas()
t1.columns

Index(['year', 'month', 'day', 'hour', 'min', 'sec', 'recno', 'kindat',
       'kinst', 'ut1_unix', 'ut2_unix', 'az1', 'az2', 'el1', 'el2', 'hmax',
       'nemax', 'range', 'ne', 'dne', 'te', 'dte', 'ti', 'dti', 'vo', 'dvo',
       'ph+', 'dph+', 'phe+', 'dphe+', 'pm', 'dpm'],
      dtype='object')

In [301]:
radar = (Table.read(radar_list[i], path='Data/Table Layout')).to_pandas()

radar

,year,month,day,hour,min,sec,recno,kindat,kinst,ut1_unix,ut2_unix,azm,elm,hsa,power,systmp,range,pop,dpop,rgate
0,2018,1,26,8,2,20,0,6300,95,1.516954e+09,1.516954e+09,186.800003,81.599998,1.570796,721.013687,83.509857,85.154750,1.086642e+11,3.312882e+09,119.842852
1,2018,1,26,8,2,20,0,6300,95,1.516954e+09,1.516954e+09,186.800003,81.599998,1.570796,721.013687,83.509857,89.787844,2.982857e+10,1.446140e+09,119.842852
2,2018,1,26,8,2,20,0,6300,95,1.516954e+09,1.516954e+09,186.800003,81.599998,1.570796,721.013687,83.509857,95.695078,1.840239e+10,1.265071e+09,119.842852
3,2018,1,26,8,2,20,0,6300,95,1.516954e+09,1.516954e+09,186.800003,81.599998,1.570796,721.013687,83.509857,101.030055,1.812061e+10,2.052387e+09,119.842852
4,2018,1,26,8,2,20,0,6300,95,1.516954e+09,1.516954e+09,186.800003,81.599998,1.570796,721.013687,83.509857,104.777461,1.911856e+10,1.644040e+09,119.842852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37384,2018,1,26,19,59,48,362,6300,95,1.516997e+09,1.516997e+09,186.800003,81.599998,1.570796,667.299313,86.149078,599.435000,5.364900e+09,2.602722e+09,119.842852
37385,2018,1,26,19,59,48,362,6300,95,1.516997e+09,1.516997e+09,186.800003,81.599998,1.570796,667.299313,86.149078,604.717313,-7.832319e+09,2.884591e+09,119.842852
37386,2018,1,26,19,59,48,362,6300,95,1.516997e+09,1.516997e+09,186.800003,81.599998,1.570796,667.299313,86.149078,610.677250,-6.085314e+09,5.470015e+09,119.842852
37387,2018,1,26,19,59,48,362,6300,95,1.516997e+09,1.516997e+09,186.800003,81.599998,1.570796,667.299313,86.149078,614.424625,-3.054305e+06,2.585303e+09,119.842852
37388,2018,1,26,19,59,48,362,6300,95,1.516997e+09,1.516997e+09,186.800003,81.599998,1.570796,667.299313,86.149078,618.172063,-6.291559e+07,3.149805e+09,119.842852

In [310]:
month = radar.month[0]

In [337]:
teste = ['gyaga']

In [338]:
teste

['gyaga']

In [339]:
len(teste)

1

In [320]:
import datetime
datetime.datetime(radar.year[0],radar.month[0],radar.day[0]).strftime('%Y-%m-%d')
# (().strftime('%Y-%m-%d'))

'2018-01-26'

In [330]:
radar_list[5000]

'../data/external/Madrigal/2018-2021/MillstoneHillISRadar/mlh180827g.003.hdf5'

In [361]:
i=0
radar_metadata = (Table.read(radar_list[i], path='Metadata/Experiment Parameters')).to_pandas()

names = np.array([x.decode() for x in radar_metadata['name']])
values = np.array([x.decode() for x in radar_metadata['value']])

radar_metadata = pd.DataFrame({'name': names,
                  'value': values})

In [367]:
radar_metadata[radar_metadata['name'] == 'instrument latitude']['value']

8    18.345
Name: value, dtype: object

In [378]:
gf_file = gf_list[9]
gf = pd.read_csv(grf_file, sep='\s+', header=0,index_col=False, names=headerlist)
gf['dates'] = (Time(gf['CDF Epoch'].values, format='cdf_epoch')).datetime

In [379]:
gf.columns

Index(['CDF Epoch', 'GPS', 'Latitude', 'Longitude', 'Radius', 'Latitude_QD',
       'Longitude_QD', 'MLT GRACE_1_Position', 'GRACE_2_Position', 'Iono_Corr',
       'Distance', 'Relative_Hor_TEC', 'Relative_Ne', 'dates'],
      dtype='object')

In [ ]:
i = 17

In [38]:
# parameters

spatial_window = 5 # km
temporal_window = 15 # min

GRf_freq = 5 # sec

MLH_lat = 42.61 # degrees
MLH_lon = -71.49 # degrees
MLH_timeUTC = -5 # hours

In [198]:
 
# for i in tqdm(range(0,len(radar_list))):
for i in tqdm(range(0,500)):
    print(i)

    metaA1 = pd.DataFrame(dm.fromHDF5(radar_list[i])['Metadata']['Experiment Parameters'])
    metaA2 = np.array([x.decode() for x in metaA1['name']])
    metaA3 = np.array([x.decode() for x in metaA1['value']])

    metaA4 = pd.DataFrame({'name': metaA2,
                  'value': metaA3})
    radar_date = pd.to_datetime(metaA4[metaA4['name'] == 'start time'].value).dt.strftime('%Y-%m-%d')    
    try:
        # get intersection date
        grf_idx = np.intersect1d(grf_list_datetimes,radar_date, return_indices=True)[1][0]-1

        # open files and add datetime as index
        ## MLH
        radar_file = radar_list[i] 
        radar = dm.fromHDF5(radar_file)
        radar_datetimes =[]
        for t in iter(range(0,len(radar['Data']['Array Layout']['timestamps']))):

            radar_datetimes.append(datetime.datetime.fromtimestamp(radar['Data']['Array Layout']['timestamps'][t])) 
        
        
        radar_df = pd.DataFrame({
                'dates': radar_datetimes,
        #         'ne' : (radar['Data']['Array Layout']['2D Parameters']['ne']).flatten(),
                'range': radar['Data']['Array Layout']['range'][0]
                })

        radar_df = radar_df.loc[radar_df.index.repeat(np.shape(radar['Data']['Array Layout']['2D Parameters']['ne'])[0])]

        radar_df['ne'] = (radar['Data']['Array Layout']['2D Parameters']['ne']).flatten()

        ## GRACE
        grf_file = gf_list[grf_idx]
        grf = pd.read_csv(grf_file, sep='\s+', header=0,index_col=False, names=headerlist)
        grf['dates'] = (Time(grf['CDF Epoch'].values, format='cdf_epoch')).datetime
        
        
        # find GRACE observations that are within spatial window
        MLH_lat = float(metaA4[metaA4['name'] == 'instrument latitude']['value'])
        MLH_lon = float(metaA4[metaA4['name'] == 'instrument longitude']['value'])
        
        grf = grf[((grf['Latitude'] <= MLH_lat + spatial_window) & (grf['Latitude'] >= MLH_lat - spatial_window))]
        grf = grf[((grf['Longitude'] <= MLH_lon + spatial_window) & (grf['Longitude'] >= MLH_lon - spatial_window))] 
        
        print(grf)

        if len(grf)>0:
#             print(radar_file)
#             print(grf_file)
            print('---------------------')
#             grf_pass = grf[grf.diff(axis = 0)['dates'] > datetime.timedelta(minutes=temporal_window)]
# #             print(len(grf_pass))
        
#             if len(grf_pass) == 0: # only one passage

# #                 print('GRF passage ', grf['dates'][grf.index.min()], '->', grf['dates'][grf.index.max()])
# #                 print(i)

#                 # define time window
#                 time_window_i = grf['dates'][grf.index.min()] - datetime.timedelta(minutes=temporal_window)
#                 time_window_f = grf['dates'][grf.index.max()] + datetime.timedelta(minutes=temporal_window)

# #                 filter values
#                 grf_select = grf[(grf['dates'] >= grf['dates'][grf.index.min()]) & (grf['dates'] <= grf['dates'][grf.index.max()])] # within time window
#                 mlh_select = radar_df[(radar_df['dates'] >= time_window_i) & (radar_df['dates'] <= time_window_f)]
#                 print(i, len(grf_select), len(mlh_select))
# #                 print(radar_file)
# #                 print(grf_file)
# #                 print('---------------------')
#                 if ((len(mlh_select) > 0) and (len(grf_select) > 0)):
#                                               print('olha eu aqui!!!!!!!!')
                    
# # #                         grf_select.to_csv('grf_{date}_v{version}_exp{exp}.csv'.format(date = mlh_date.strftime('%Y-%m-%d'),
# # #                                                                           version = mlh_file[38:41],
# # #                                                                           exp = mlh_file[42:50]))
# # #                         mlh_select.to_csv('mlh_{date}_v{version}_exp{exp}.csv'.format(date = mlh_date.strftime('%Y-%m-%d'),
# # #                                                                           version = mlh_file[38:41],
# # #                                                                           exp = mlh_file[42:50]))
# # #                 else:
# # #                     pass


# # #             if len(grf_pass) == 1: # two passages

# # #                 pass_idx = np.argwhere(grf.index == grf_pass.index[0])[0][0]

# # #                 # first one
# # #                 print('GRF passage', grf.index[0], '->', grf.index[pass_idx-1])

# # #                 # define time window
# # #                 time_window_i = grf.datetimes[grf.index[0]] - datetime.timedelta(minutes=15)
# # #                 time_window_f = grf.datetimes[grf.index[pass_idx-1]] + datetime.timedelta(minutes=15)

# # #                 # filter values
# # #                 grf_select = grf[(grf.index >= grf.index[0]) & (grf.index <= grf.index[pass_idx-1])] # within time window

# # #                 mlh_select = mlh[(mlh.index >= time_window_i) & (mlh.index <= time_window_f)]

# # # #                 if ((len(mlh_select) > 0) and (len(grf_select) > 0)):

# # # #                         grf_select.to_csv('grf_{date}_v{version}_exp{exp}.csv'.format(date = mlh_date.strftime('%Y-%m-%d'),
# # # #                                                                           version = mlh_file[38:41],
# # # #                                                                           exp = mlh_file[42:50]))
# # # #                         mlh_select.to_csv('mlh_{date}_v{version}_exp{exp}.csv'.format(date = mlh_date.strftime('%Y-%m-%d'),
# # # #                                                                           version = mlh_file[38:41],
# # # #                                                                           exp = mlh_file[42:50]))
# # # #                 else:
# # # #                     pass

# # #                 # second one
# # #                 print('GRF passage', grf.index[pass_idx], '->', grf.index[-1])

# # #                 # define time window
# # #                 time_window_i = grf.datetimes[grf.index[pass_idx]] - datetime.timedelta(minutes=15)
# # #                 time_window_f = grf.datetimes[grf.index[-1]] + datetime.timedelta(minutes=15)

# # #                 # filter values
# # #                 grf_select = grf[(grf.index >= grf.index[pass_idx]) & (grf.index <= grf.index[-1])] # within time window

# # #                 mlh_select = mlh[(mlh.index >= time_window_i) & (mlh.index <= time_window_f)]

# # # #                 if ((len(mlh_select) > 0) and (len(grf_select) > 0)):

# # # #                         grf_select.to_csv('grf_{date}_v{version}_exp{exp}.csv'.format(date = mlh_date.strftime('%Y-%m-%d'),
# # # #                                                                           version = mlh_file[38:41],
# # # #                                                                           exp = mlh_file[42:50]))
# # # #                         mlh_select.to_csv('mlh_{date}_v{version}_exp{exp}.csv'.format(date = mlh_date.strftime('%Y-%m-%d'),
# # # #                                                                           version = mlh_file[38:41],
# # # #                                                                           exp = mlh_file[42:50]))
# # # #                 else:
# # # #                     pass
        else:
            pass
    except:
        pass

  0%|          | 0/500 [00:00<?, ?it/s]

0

  1%|          | 3/500 [00:02<05:45,  1.44it/s]

1
2
3
4

  2%|▏         | 8/500 [00:02<01:45,  4.66it/s]

5
6
7
8

  2%|▏         | 10/500 [00:03<01:26,  5.65it/s]

9
Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
10
11

  3%|▎         | 14/500 [00:03<00:59,  8.22it/s]

12
13
14

  3%|▎         | 16/500 [00:03<00:49,  9.82it/s]

15
16
17

  4%|▍         | 21/500 [00:03<00:33, 14.27it/s]

18
19
20
21
22

  5%|▌         | 25/500 [00:04<00:33, 14.09it/s]

23
24
25

  5%|▌         | 27/500 [00:04<00:30, 15.27it/s]

26
27
28

  6%|▌         | 31/500 [00:04<00:34, 13.60it/s]

29
30
31
32
33

  7%|▋         | 34/500 [00:04<00:29, 15.90it/s]

34
35
36
37

  8%|▊         | 40/500 [00:05<00:27, 16.89it/s]

38
39
40

  8%|▊         | 42/500 [00:05<00:29, 15.59it/s]

41
42
43

  9%|▉         | 46/500 [00:05<00:34, 13.26it/s]

44
45
46

 10%|▉         | 49/500 [00:05<00:30, 14.72it/s]

47
48
49

 11%|█         | 54/500 [00:06<00:38, 11.68it/s]

50
51
52
53
54

 11%|█         | 56/500 [00:06<00:41, 10.65it/s]

55
56
57

 12%|█▏        | 59/500 [00:06<00:33, 13.20it/s]

58
59
60

 13%|█▎        | 63/500 [00:06<00:31, 13.98it/s]

61
62
63

 13%|█▎        | 65/500 [00:07<00:34, 12.52it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
64
65
66

 13%|█▎        | 67/500 [00:07<00:33, 12.81it/s]

67
68
69

 15%|█▍        | 73/500 [00:07<00:29, 14.43it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
70
71
72
73

 15%|█▌        | 76/500 [00:07<00:25, 16.66it/s]

74
75
76

 16%|█▌        | 78/500 [00:08<00:31, 13.34it/s]

77
78
79

 17%|█▋        | 83/500 [00:08<00:26, 15.54it/s]

80
81
82
83

 17%|█▋        | 87/500 [00:08<00:21, 19.53it/s]

84
85
86
87
88

 18%|█▊        | 92/500 [00:08<00:23, 17.17it/s]

89
90
91
92

 19%|█▉        | 94/500 [00:09<00:30, 13.48it/s]

93
94

 19%|█▉        | 96/500 [00:09<00:32, 12.28it/s]

95
96
97
98

 20%|██        | 102/500 [00:09<00:24, 16.56it/s]

99
100
101
102

 21%|██        | 106/500 [00:09<00:23, 16.55it/s]

103
104
105
106
107

 22%|██▏       | 108/500 [00:09<00:23, 16.90it/s]

108
109

 22%|██▏       | 112/500 [00:10<00:28, 13.72it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
110
111
112
113

 23%|██▎       | 115/500 [00:10<00:28, 13.49it/s]

114
115
116

 23%|██▎       | 117/500 [00:10<00:30, 12.76it/s]

117
Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
118

 24%|██▍       | 122/500 [00:11<00:27, 13.99it/s]

119
120
121
122
123

 25%|██▌       | 125/500 [00:11<00:23, 15.94it/s]

124
125
126

 25%|██▌       | 127/500 [00:11<00:24, 15.08it/s]

127
128

 27%|██▋       | 133/500 [00:11<00:22, 16.03it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
129
130
131
132
133
134

 28%|██▊       | 138/500 [00:12<00:24, 14.99it/s]

135
136
137
138

 28%|██▊       | 141/500 [00:12<00:20, 17.48it/s]

139
140
141
142
143

 29%|██▉       | 144/500 [00:12<00:20, 17.05it/s]

144
Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
145

 29%|██▉       | 146/500 [00:12<00:24, 14.36it/s]

146
147

 30%|███       | 150/500 [00:13<00:43,  7.96it/s]

148
149
150
151

 31%|███       | 154/500 [00:13<00:30, 11.48it/s]

152
153
154
155
156

 32%|███▏      | 160/500 [00:13<00:23, 14.66it/s]

157
158
159
160
161

 33%|███▎      | 165/500 [00:14<00:19, 17.05it/s]

162
163
164
165

 33%|███▎      | 167/500 [00:14<00:22, 14.75it/s]

166
167
168

 34%|███▍      | 171/500 [00:14<00:23, 14.18it/s]

169
170
171
172
173

 35%|███▌      | 176/500 [00:15<00:22, 14.39it/s]

174
175
176

 36%|███▌      | 178/500 [00:15<00:21, 14.89it/s]

177
178
179

 36%|███▌      | 180/500 [00:15<00:24, 12.97it/s]

180
181

 37%|███▋      | 184/500 [00:16<00:36,  8.67it/s]

182
183
184
185
186

 38%|███▊      | 190/500 [00:16<00:24, 12.86it/s]

187
188
189
190
191

 39%|███▉      | 195/500 [00:16<00:20, 15.05it/s]

192
193
194
195

 40%|███▉      | 198/500 [00:16<00:16, 17.92it/s]

196
197
198
199

 40%|████      | 201/500 [00:16<00:19, 15.73it/s]

200
201
202
203

 41%|████      | 204/500 [00:17<00:17, 16.80it/s]

204
205

 42%|████▏     | 208/500 [00:17<00:21, 13.67it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
206
207
208

 42%|████▏     | 210/500 [00:17<00:25, 11.45it/s]

209
Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
210

 42%|████▏     | 212/500 [00:18<00:30,  9.55it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
211
212
213

 43%|████▎     | 216/500 [00:18<00:22, 12.39it/s]

214
215
216
217
218

 44%|████▍     | 222/500 [00:18<00:15, 18.19it/s]

219
220
221
222
223

 45%|████▌     | 225/500 [00:18<00:17, 16.01it/s]

224
225
226

 46%|████▌     | 231/500 [00:19<00:13, 19.97it/s]

227
228
229
230
231

 47%|████▋     | 234/500 [00:19<00:14, 18.13it/s]

232
233
234
235

 48%|████▊     | 239/500 [00:19<00:16, 15.54it/s]

236
237
238
239

 48%|████▊     | 242/500 [00:19<00:15, 16.29it/s]

240
241
242

 49%|████▉     | 244/500 [00:19<00:16, 15.14it/s]

243
244
245

 50%|████▉     | 248/500 [00:20<00:18, 13.99it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
246
247
248
249

 50%|█████     | 251/500 [00:20<00:17, 13.87it/s]

250
251
252

 51%|█████     | 253/500 [00:20<00:18, 13.62it/s]

253
254

 52%|█████▏    | 258/500 [00:26<02:05,  1.92it/s]

255
256
257
258
259

 52%|█████▏    | 262/500 [00:26<01:17,  3.09it/s]

260
261
262

 53%|█████▎    | 266/500 [00:26<00:46,  5.06it/s]

263
264
265
266

 54%|█████▎    | 268/500 [00:27<00:39,  5.93it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
267
268
269
270

 55%|█████▍    | 274/500 [00:27<00:23,  9.51it/s]

271
272
273
274

 55%|█████▌    | 276/500 [00:27<00:20, 10.93it/s]

275
276
277

 56%|█████▌    | 281/500 [00:27<00:17, 12.51it/s]

278
279
280
281

 57%|█████▋    | 285/500 [00:28<00:17, 12.15it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
282
283
284
285

 58%|█████▊    | 289/500 [00:28<00:15, 13.72it/s]

286
287
288
289
290

 58%|█████▊    | 291/500 [00:28<00:15, 13.18it/s]

291
292

 59%|█████▉    | 294/500 [00:32<01:49,  1.89it/s]

293
294

 60%|█████▉    | 298/500 [00:32<00:54,  3.69it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
295
296
297
298

 60%|██████    | 301/500 [00:33<00:35,  5.64it/s]

299
300
301
302

 61%|██████▏   | 307/500 [00:33<00:19,  9.83it/s]

303
304
305
306
307

 62%|██████▏   | 310/500 [00:33<00:16, 11.79it/s]

308
309
310
311
312

 63%|██████▎   | 315/500 [00:34<00:17, 10.35it/s]

313
314
315
316

 65%|██████▍   | 323/500 [00:34<00:09, 18.24it/s]

317
318
319
320
321
322
323

 66%|██████▋   | 332/500 [00:34<00:06, 27.01it/s]

324
325
326
327
328
329
330
331
332

 68%|██████▊   | 340/500 [00:34<00:05, 31.18it/s]

333
334
335
336
337
338
339
340

 69%|██████▉   | 344/500 [00:34<00:04, 31.89it/s]

341
342
343
344
345
346
347

 71%|███████   | 353/500 [00:35<00:04, 34.79it/s]

348
349
350
351
352
353
354
355

 72%|███████▏  | 361/500 [00:35<00:03, 36.47it/s]

356
357
358
359
360
361
362
363

 73%|███████▎  | 365/500 [00:35<00:04, 31.94it/s]

364
365

 74%|███████▍  | 369/500 [00:36<00:07, 17.78it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
366
367
368
369
370
Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
371

 75%|███████▍  | 374/500 [00:37<00:13,  9.61it/s]

372
373
374

 75%|███████▌  | 376/500 [00:37<00:14,  8.65it/s]

375
376
377

 76%|███████▌  | 378/500 [00:37<00:14,  8.39it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
378
379

 76%|███████▌  | 380/500 [00:37<00:14,  8.00it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
380
381

 76%|███████▋  | 382/500 [00:38<00:16,  7.02it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
382

 77%|███████▋  | 385/500 [00:38<00:15,  7.39it/s]

383
384
385

 77%|███████▋  | 386/500 [00:38<00:17,  6.56it/s]

386
387
388

 78%|███████▊  | 389/500 [00:39<00:14,  7.75it/s]

389
390

 78%|███████▊  | 391/500 [00:39<00:14,  7.45it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
391
392

 79%|███████▉  | 396/500 [00:39<00:10, 10.06it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
393
394
395
396
397

 80%|███████▉  | 398/500 [00:40<00:13,  7.80it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
398

 80%|████████  | 400/500 [00:40<00:13,  7.42it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
399
400
401
402

 81%|████████  | 403/500 [00:40<00:10,  9.29it/s]

403
Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
404

 81%|████████▏ | 407/500 [00:41<00:11,  8.29it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
405
406
407

 82%|████████▏ | 409/500 [00:41<00:10,  8.54it/s]

408
409
410

 82%|████████▏ | 411/500 [00:41<00:09,  9.73it/s]

411

 83%|████████▎ | 413/500 [00:42<00:10,  8.28it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
412
413
414

 83%|████████▎ | 417/500 [00:42<00:11,  7.31it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
415
416
417
418

 84%|████████▍ | 419/500 [00:43<00:18,  4.48it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
419
420

 84%|████████▍ | 421/500 [00:43<00:15,  5.07it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
421
422
423

 85%|████████▍ | 424/500 [00:44<00:12,  6.24it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
424

 85%|████████▌ | 427/500 [00:44<00:10,  6.96it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
425
426
427
428

 86%|████████▌ | 429/500 [00:44<00:10,  6.90it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
429

 87%|████████▋ | 433/500 [00:45<00:10,  6.69it/s]

430
431
432
433
434

 87%|████████▋ | 435/500 [00:46<00:10,  6.20it/s]

435

 87%|████████▋ | 436/500 [00:46<00:10,  5.90it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
436

 87%|████████▋ | 437/500 [00:46<00:11,  5.42it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
437

 88%|████████▊ | 438/500 [00:46<00:12,  4.92it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
438

 88%|████████▊ | 440/500 [00:47<00:11,  5.32it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
439
440

 88%|████████▊ | 442/500 [00:47<00:08,  6.55it/s]

441
442
443

 89%|████████▉ | 444/500 [00:47<00:06,  8.17it/s]

444
445

 89%|████████▉ | 447/500 [00:48<00:08,  6.28it/s]

446
447
448

 90%|████████▉ | 449/500 [00:48<00:06,  7.66it/s]

449

 90%|█████████ | 451/500 [00:48<00:08,  5.63it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
450
451

 90%|█████████ | 452/500 [00:49<00:09,  5.28it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
452

 91%|█████████ | 453/500 [00:49<00:09,  4.96it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
453
454

 92%|█████████▏| 458/500 [00:49<00:05,  8.07it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
455
456
457
458

 92%|█████████▏| 460/500 [00:49<00:04,  8.79it/s]

459
460
461

 92%|█████████▏| 462/500 [00:50<00:04,  9.27it/s]

462
Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
463

 93%|█████████▎| 464/500 [00:50<00:05,  6.46it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
464

 93%|█████████▎| 465/500 [00:51<00:06,  5.39it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
465

 93%|█████████▎| 466/500 [00:51<00:08,  4.25it/s]

466

 93%|█████████▎| 467/500 [00:51<00:07,  4.34it/s]

467

 94%|█████████▍| 469/500 [00:52<00:07,  4.18it/s]

468
469

 94%|█████████▍| 470/500 [00:52<00:06,  4.53it/s]

470
471

 94%|█████████▍| 472/500 [00:52<00:05,  5.18it/s]

472
473

 95%|█████████▍| 474/500 [00:53<00:04,  5.73it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
474

 95%|█████████▌| 476/500 [00:53<00:06,  3.68it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
475
476

 95%|█████████▌| 477/500 [00:54<00:06,  3.66it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
477
478

 96%|█████████▌| 479/500 [00:54<00:04,  4.80it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
479

 96%|█████████▌| 480/500 [00:55<00:06,  3.22it/s]

480

 97%|█████████▋| 483/500 [00:55<00:03,  5.04it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
481
482
483

 97%|█████████▋| 484/500 [00:55<00:03,  4.64it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
484

 97%|█████████▋| 485/500 [00:56<00:04,  3.14it/s]

485

 97%|█████████▋| 486/500 [00:56<00:04,  3.11it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
486

 98%|█████████▊| 490/500 [00:57<00:01,  5.84it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
487
488
489
490

 98%|█████████▊| 492/500 [00:57<00:01,  6.11it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
491
492

 99%|█████████▉| 494/500 [00:57<00:00,  6.43it/s]

493
494

100%|█████████▉| 498/500 [00:58<00:00,  7.03it/s]

495
496
497
498

100%|██████████| 500/500 [00:58<00:00,  8.51it/s]

Empty DataFrame
Columns: [CDF Epoch, GPS, Latitude, Longitude, Radius, Latitude_QD, Longitude_QD, MLT GRACE_1_Position, GRACE_2_Position, Iono_Corr, Distance, Relative_Hor_TEC, Relative_Ne, dates]
Index: []
499

In [180]:
radar_df = pd.DataFrame({
        'dates': radar_datetimes,
#         'ne' : (radar['Data']['Array Layout']['2D Parameters']['ne']).flatten(),
        'range': radar['Data']['Array Layout']['range'][0]
        })
        
radar_df = radar_df.loc[radar_df.index.repeat(85)]

radar_df['ne'] = (radar['Data']['Array Layout']['2D Parameters']['ne']).flatten()

KeyError: 'ne'

In [187]:
radar_df['dates'] <= time_window_i

0      True
0      True
0      True
0      True
0      True
       ...
287    True
287    True
287    True
287    True
287    True
Name: dates, Length: 24480, dtype: bool

In [184]:
time_window_i

Timestamp('2019-10-25 07:28:22')

In [145]:
radar_file = radar_list[0] 
radar = dm.fromHDF5(radar_file)
radar_datetimes =[]
for t in iter(range(0,len(radar['Data']['Array Layout']['timestamps']))):

    radar_datetimes.append(datetime.datetime.fromtimestamp(radar['Data']['Array Layout']['timestamps'][t])) 
        

np.shape(radar['Data']['Array Layout']['2D Parameters']['ne'])[0]

85

In [136]:
np.shape(radar['Data']['Array Layout']['range'])[0]

85

In [106]:
grf['dates']

15021   2020-08-20 20:51:27
15022   2020-08-20 20:51:32
15023   2020-08-20 20:51:37
15024   2020-08-20 20:51:42
15025   2020-08-20 20:51:47
15026   2020-08-20 20:51:52
15027   2020-08-20 20:51:57
15028   2020-08-20 20:52:02
15029   2020-08-20 20:52:07
15030   2020-08-20 20:52:12
15031   2020-08-20 20:52:17
15032   2020-08-20 20:52:22
15033   2020-08-20 20:52:27
15034   2020-08-20 20:52:32
15035   2020-08-20 20:52:37
15036   2020-08-20 20:52:42
15037   2020-08-20 20:52:47
15038   2020-08-20 20:52:52
15039   2020-08-20 20:52:57
15040   2020-08-20 20:53:02
15041   2020-08-20 20:53:07
15042   2020-08-20 20:53:12
15043   2020-08-20 20:53:17
15044   2020-08-20 20:53:22
15045   2020-08-20 20:53:27
15046   2020-08-20 20:53:32
15047   2020-08-20 20:53:37
15048   2020-08-20 20:53:42
15049   2020-08-20 20:53:47
15050   2020-08-20 20:53:52
15051   2020-08-20 20:53:57
15052   2020-08-20 20:54:02
Name: dates, dtype: datetime64[ns]

In [126]:
# dm.fromHDF5(radar_list[0])['Data']['Array Layout']['2D Parameters']['ne']

# dm.fromHDF5(radar_list[0])['Data']['Array Layout']['range']

dmarray([[7.00000e+05, 6.33403e+10, 6.03664e+10, ..., 4.44310e+09,
          4.89110e+09, 4.32810e+09],
         [1.06050e+11, 1.09169e+11, 1.06083e+11, ..., 8.85060e+09,
          7.12180e+09, 3.94490e+09],
         [1.11636e+11, 1.19121e+11, 1.16032e+11, ..., 3.77630e+09,
          5.68000e+09, 2.80640e+09],
         ...,
         [3.41318e+10, 5.72159e+10, 4.95072e+10, ..., 1.15873e+10,
          1.27142e+10, 1.27567e+10],
         [3.41118e+10, 5.77888e+10, 4.98728e+10, ..., 1.15873e+10,
          1.27142e+10, 1.27567e+10],
         [3.40942e+10, 5.83566e+10, 5.02411e+10, ..., 1.15873e+10,
          1.27142e+10, 1.27567e+10]])

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
float(metaA4[metaA4['name'] == 'instrument latitude']['value']) + 5

72.4

In [24]:
gf_file = gf_list[grf_idx]
gf = pd.read_csv(gf_file, sep='\s+', header=0,index_col=False, names=headerlist)
# gf['dates'] = (Time(gf['CDF Epoch'].values, format='cdf_epoch')).datetime

#         #             gf_pass = gf[gf.diff(axis = 0)['dates'] > datetime.timedelta(minutes=30)]

In [26]:
gf.columns

Index(['CDF Epoch', 'GPS', 'Latitude', 'Longitude', 'Radius', 'Latitude_QD',
       'Longitude_QD', 'MLT GRACE_1_Position', 'GRACE_2_Position', 'Iono_Corr',
       'Distance', 'Relative_Hor_TEC', 'Relative_Ne'],
      dtype='object')